:root {
    --button-color: #66acf2;
    --button-hover: #8cc1f5;
    --button-click: #bddaf7;
    --website-header: #2D3748;
    --website-background: #CBD5E0;
    --text-color: #FAFAFA;
    --black-text: #292929;
}

* {
    /* border: solid red .1px; */
}

/* Global */

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: var(--website-background);
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: var(--button-color) 2px solid;
    scale: 1;
    text-shadow: rgba(0,0,0,.3) 1px 0 3px;

    border-radius: 10px;
    padding: 10px;
    width: 200px;
    font-size: 30px;

    transition: scale .1s ease-in-out,
                background-color .2s ease-in-out,
                border-color .2s ease-in-out;
}

button:hover{
    scale: 1.05;
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

button:active{
    scale: 1;
    background-color: var(--button-click);
}

/* Header */

.header {
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    color: var(--text-color);
    background-color: var(--website-header);
}

.header h1{
    margin: 0px;
    padding: 10px;
}

.header p{
    margin: 0px;
}

/* Buttons */

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px;
}

/* Result */

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.result p{
    display: none;
    padding: 10px 15px 10px 15px;
    background-color: #d39942;
    text-shadow: rgba(0,0,0,.3) 1px 0 3px;
    /* background-color: #d35f42; */
    /* background-color: #6bd342; */
    color: var(--text-color);
    border-radius: 10px;
    font-weight: 700;
}

/* score holder */
.score-holder{
    display: flex;
    justify-content: space-around;
    padding: 20px;

    color: var(--black-text);
    font-size: 30px;
    font-weight: bold;
}

/* restart */

.restart-holder{
    display: flex;
    justify-content: center;
}

#restart {
    display: none;
}